argument_specs:
    main:
        options:
            wildfly_user:
                default: "wildfly"
                description: "posix user account for wildfly"
                type: "str"
            wildfly_group:
                default: "{{ wildfly_user }}"
                description: "posix group for wildfly"
                type: "str"
            wildfly_service_name:
                default: "wildfly"
                description: "Systemd service name for wildfly"
                type: "str"
            wildfly_http_port:
                default: "8080"
                description: "Server HTTP port"
                type: "str"
            wildfly_https_port:
                default: "8443"
                description: "Server HTTPS port"
                type: "str"
            wildfly_version:
                default: "36.0.0.Final"
                description: "Wildfly version to install"
                type: "str"
            wildfly_install_workdir:
                default: "/opt/wildfly/"
                description: "Root directory for installation, path where the install zipfile is extracted"
                type: "str"
            wildfly_home:
                default: "{{ wildfly_install_workdir }}wildfly-{{ wildfly_version }}/"
                description: "Wildfly installation directory"
                type: "str"
            wildfly_standard_sockets_validation_query:
                default: "/socket-binding-group=standard-sockets/remote-destination-outbound-socket-binding=mail-smtp:read-attribute(name=host)"
                type: "str"
                description: "CLI query used to validation standard sockets configuration"
            wildfly_ejb_validation_query:
                default: "/subsystem=ejb3:read-attribute(name=default-resource-adapter-name)"
                type: "str"
                description: "CLI query used to validate the ejb config"
            wildfly_ee_validation_query:
                default: "/subsystem=ee/service=default-bindings:read-attribute(name=jms-connection-factory)"
                type: "str"
                description: "CLI query used to validate the JMS connection factory"
            wildfly_validation_queries:
                default: []
                type: "list"
                description: "CLI queries used to validate configuration. List of dicts [{query => <jboss cli command>, expected_result => <expected string result of the cli op>, expected_result_undefined => <if defined, then check if the result is 'undefined'> }]"
            wildfly_pidfile_homedir:
                description: "Directory that will contain the PID file"
                default: "/run/wildfly"
                type: "str"
            wildfly_validation_systemd_pidfile_require_privilege_escalation:
                default: True
                description: "Whether or not accessing the pidfile created by Systemd will require root privileges"
                type: "bool"
            wildfly_basedir_prefix:
                default: "{{ wildfly_home }}"
                description: "Install base directory for instance, ie. for colocated installations"
                type: "str"
    downstream:
        options:
            eap_enable:
                default: True
                description: "Enable install of Red Hat JBoss EAP"
                type: "bool"
            eap_apply_cp:
                default: True
                description: "Whether to apply the latest cumulative patch on top of baseline version"
                type: "bool"
            eap_version:
                default: "7.4.0"
                description: "Red Hat EAP version to install"
                type: "str"
            eap_patch_version:
                required: False
                description: "Red Hat EAP cumulative patch version to install (format: x.y.z); defaults to latest version when eap_apply_cp is True"
                type: "str"
            eap_archive_filename:
                default: "jboss-eap-{{ eap_version }}.zip"
                description: "Red Hat EAP archive name"
                type: "str"
            eap_install_workdir:
                default: "/opt/jboss_eap/"
                description: "Root directory for installation"
                type: "str"
            eap_home:
                default: "{{ eap_install_workdir }}jboss-eap-{{ (eap_version.split('.'))[0:2] | join('.') }}/"
                description: "Red Hat EAP installation path"
                type: "str"
