---
wildfly_user: 'wildfly'
wildfly_group: "{{ wildfly_user }}"
wildfly_version: '36.0.0.Final'
wildfly_install_workdir: '/opt/wildfly/'
wildfly_home: "{{ wildfly_install_workdir }}wildfly-{{ wildfly_version }}"
wildfly_config_base: 'standalone.xml'
wildfly_config_custom_file: ''
wildfly_port_range_offset: 0

wildfly_java_package_name: java-17-openjdk-headless
wildfly_java_opts: '-Xmx1024M -Xms512M'

wildfly_systemd_unit_enabled: true
wildfly_systemd_require_privilege_escalation: true
wildfly_systemd_service_config_location: '/etc/systemd/system'
wildfly_systemd_service_config_file_suffix: '.service'
wildfly_systemd_conf_file_suffix: '.conf'
wildfly_systemd_service_config_file_template: 'templates/wfly.service.j2'
wildfly_service_config_file_template: 'templates/wfly.conf.j2'
wildfly_service_config_file_location: '/etc/sysconfig'

wildfly_service_systemd_env_file: "{{ wildfly_service_config_file_location }}/{{ wildfly_service_name }}{{ wildfly_systemd_conf_file_suffix }}"
wildfly_service_systemd_file: "{{ wildfly_systemd_service_config_location }}/{{ wildfly_service_name }}{{ wildfly_systemd_service_config_file_suffix }}"
wildfly_enable_yml_config: false
wildfly_yml_configs: []
wildfly_yml_configs_repository:
wildfly_systemd_jboss_cli_path: "{{ wildfly_home }}//bin/jboss-cli.sh"
wildfly_systemd_jboss_cli_controller_host: "{{ wildfly_bind_addr_management }}"
wildfly_systemd_jboss_cli_deploy_force: '--force'
wildfly_systemd_jboss_cli_timeout: "--timeout={{ jboss_cli_timeout * 1000 if jboss_cli_timeout is defined else 5000 }}"
wildfly_systemd_jboss_cli_command_prefix: "--connect {{ wildfly_systemd_jboss_cli_timeout }}"

wildfly_bind_addr: 0.0.0.0
wildfly_bind_addr_private: 127.0.0.1
wildfly_bind_addr_management: 127.0.0.1
wildfly_multicast_addr: 230.0.0.4

wildfly_statistics_enabled: False

wildfly_instance_name: wildfly
wildfly_node_id: "{{ inventory_hostname_short }}"
wildfly_service_name: "{{ wildfly_instance_name }}"
wildfly_basedir_prefix: "{{ wildfly_home }}"

wildfly_pidfile_homedir: "/run/{{ wildfly_instance_name }}"
wildfly_selinux_enabled: False

wildfly_systemd_wait_port: 9990
wildfly_systemd_startup_message_id: 'WFLYSRV0025'
wildfly_systemd_wait_for_timeout: 60
wildfly_systemd_wait_for_delay: 10
wildfly_systemd_wait_for_port: "{{ wildfly_enable_yml_config }}"
wildfly_systemd_wait_for_log: False
