argument_specs:
    main:
        options:
            jboss_cli_controller_host:
                # line 2 of jboss_eap/defaults/main.yml
                default: "localhost"
                description: "Hostname for connecting to cli"
                type: "str"
            jboss_cli_controller_port:
                # line 3 of jboss_eap/defaults/main.yml
                default: "9990"
                description: "Port for connecting to cli"
                type: "str"
            wildfly_user:
                # line 10 of wildfly_install/defaults/main.yml
                default: "wildfly"
                description: "posix user account for wildfly"
                type: "str"
            wildfly_group:
                # line 11 of wildfly_install/defaults/main.yml
                default: "{{ wildfly_user }}"
                description: "posix group for wildfly"
                type: "str"
            wildfly_home:
                # line 6 of wildfly_install/defaults/main.yml
                required: True
                description: "Wildfly installation directory"
                type: "str"
            wildfly_no_restart_after_patch:
                default: False
                description: "When true, skip restarting after applying a cumulative patch"
                type: "bool"
            wildfly_apply_cp_verbose:
                default: False
                description: "When true, emits verbose output from jboss-cli"
                type: "bool"