---
- name: "Ensure required parameters are provided."
  ansible.builtin.assert:
    that:
      - validation_query is defined
      - wildfly_home is defined
    quiet: true
    fail_msg: "Missing required parameters"

- name: "Use CLI query to validate service state: {{ validation_query }}"
  ansible.builtin.include_role:
    name: jboss_eap
    tasks_from: jboss_cli.yml
  vars:
    query: "'{{ validation_query }}'"
    jboss_home: "{{ wildfly_home }}"

- name: "Validate CLI query was sucessful"
  ansible.builtin.assert:
    that:
      - cli_result is defined
      - cli_result.rc is defined
      - cli_result.rc == 0
      - cli_result.stdout_lines is defined
    quiet: true
    fail_msg: "Fail to validate state of server using CLI query: {{ validation_query }}. Server may not be functionnal!"

- name: "Transform output to JSON"
  ansible.builtin.set_fact:
    query_result: "{{ cli_result.stdout_lines | join('\n') | from_json }}"

- name: "Display transformed result"
  ansible.builtin.debug:
    var: query_result
  when:
    - wildfly_validation_debug is defined

- name: "Check that query was successfully performed."
  ansible.builtin.assert:
    that:
      - query_result is defined
      - query_result.result is defined
      - query_result.outcome is defined
      - query_result.outcome == "success"
      - query_result.result
    quiet: true
    fail_msg: "CLI query was not successfull: {{ validation_query }}, server may not be functionnal!"
