wildfly-configuration:
  subsystem:
    ee:
      spec-descriptor-property-replacement: true
      annotation-property-replacement: true
      jboss-descriptor-property-replacement: true
      service:
        default-bindings:

