---
jboss_cli_controller_host: 'localhost'
jboss_cli_controller_port: '9990'
jboss_cli_apply_cp_default_conflict_default: '--override-all'
wildfly_no_restart_after_patch:  False
wildfly_user: wildfly
wildfly_group: "{{ wildfly_user }}"
wildfly_version: '32.0.0.Final'
wildfly_install_workdir: '/opt/wildfly/'
wildfly_home: "{{ wildfly_install_workdir }}wildfly-{{ wildfly_version }}/"
wildfly_selinux_enabled: False
jboss_home: "{{ wildfly_home }}"
wildfly_utils_jboss_cli_require_privilege_escalation: true
wildfly_port_range_offset: 0

wildfly_prospero_version: 1.3.0.Beta1
wildfly_prospero_name: prospero
wildfly_prospero_install_dir: /opt/prospero
wildfly_prospero_profile_name: wildfly
wildfly_prospero_scenario_enable: True
wildfly_prospero_archive_name: "{{ wildfly_prospero_name }}-{{ wildfly_prospero_version }}.zip"
wildfly_prospero_home: "{{ wildfly_prospero_install_dir }}/{{ wildfly_prospero_name }}-{{ wildfly_prospero_version }}"
wildfly_prospero_download_url: "https://github.com/wildfly-extras/prospero/releases/download/{{ wildfly_prospero_version }}/prospero-build-{{ wildfly_prospero_version }}.zip"
wildfly_prospero_download_check_ssl: False

wildfly_apps_jboss_cli_deploy_force: "--force"
wildfly_apps_requires_privilege_escalation: true
