---
jboss_cli_controller_host: 'localhost'
jboss_cli_controller_port: '9990'
wildfly_no_restart_after_patch:  False
wildfly_user: wildfly
wildfly_group: "{{ wildfly_user }}"
wildfly_version: '26.0.0.Final'
wildfly_home: "/opt/wildfly/wildfly-{{ wildfly_version }}/"
jboss_home: "{{ wildfly_home }}"
