---
jboss_cli_controller_host: 'localhost'
jboss_cli_controller_port: '9990'
jboss_cli_apply_cp_default_conflict_default: '--override-all'
wildfly_no_restart_after_patch:  False
wildfly_user: wildfly
wildfly_group: "{{ wildfly_user }}"
wildfly_version: '39.0.0.Final'
wildfly_install_workdir: '/opt/wildfly/'
wildfly_home: "{{ wildfly_install_workdir }}wildfly-{{ wildfly_version }}/"
wildfly_selinux_enabled: False
jboss_home: "{{ wildfly_home }}"
wildfly_utils_jboss_cli_require_privilege_escalation: true
wildfly_port_range_offset: 0

wildfly_prospero_name: prospero
wildfly_prospero_install_dir: /opt/prospero
wildfly_prospero_profile_name: wildfly
wildfly_prospero_scenario_enable: true
wildfly_propsero_release_url: "https://api.github.com/repos/wildfly-extras/prospero/releases/latest"
wildfly_prospero_download_check_ssl: False

wildfly_apps_jboss_cli_deploy_force: false
wildfly_apps_requires_privilege_escalation: true
jboss_cli_force: false
