---
- name: Check arguments
  ansible.builtin.assert:
    that:
      - wildfly_install.download_url is defined
      - wildfly_install.home is defined
      - wildfly_install.archive_name is defined
      - wildfly_install.user is defined
      - wildfly_install.group is defined
    quiet: true

- name: Check local download archive path
  ansible.builtin.stat:
    path: "{{ lookup('env', 'PWD') }}"
  register: local_path
  delegate_to: localhost

- name: Set download paths
  ansible.builtin.set_fact:
    full_path_to_archive: "{{ wildfly_install.archive_dir }}/{{ wildfly_install.archive_name }}"
    local_path_to_archive: "{{ local_path.stat.path }}/{{ wildfly_install.archive_name }}"

- name: "Check target archive: {{ full_path_to_archive }}"
  ansible.builtin.stat:
    path: "{{ full_path_to_archive }}"
  register: archive_path
  become: yes

- name: "Retrieve archive from website: {{ wildfly_download_baseurl }}"
  ansible.builtin.include_tasks: install/web.yml
  when:
    - eap_enable is not defined or not eap_enable
    - not wildfly_install.rpm is defined
    - not wildfly_offline_install
    - archive_path.stat is defined
    - not archive_path.stat.exists

- name: "Retrieve archive from RHN"
  ansible.builtin.include_tasks: install/rhn.yml
  when:
    - not wildfly_offline_install
    - rhn_username is defined
    - rhn_password is defined
    - eap_enable is defined and eap_enable
    - archive_path.stat is defined
    - not archive_path.stat.exists

- name: "Install server using RPM"
  ansible.builtin.include_tasks: install/rpm.yml
  when:
    - wildfly_install.rpm is defined

- name: Check downloaded archive
  ansible.builtin.stat:
    path: "{{ local_path_to_archive }}"
  register: local_archive_path
  delegate_to: localhost

- name: Copy archive to target nodes
  ansible.builtin.copy:
    src: "{{ local_path_to_archive }}"
    dest: "{{ full_path_to_archive }}"
    owner: "{{ wildfly_install.user }}"
    group: "{{ wildfly_install.group }}"
    mode: 0640
  register: new_version_downloaded
  when:
    - not archive_path.stat.exists
    - local_archive_path.stat is defined
    - local_archive_path.stat.exists
  become: yes

- name: Perform installation
  block:
    - name: "Check target archive: {{ full_path_to_archive }}"
      ansible.builtin.stat:
        path: "{{ full_path_to_archive }}"
      register: is_archive_file_created
      become: yes

    - name: "Verify target archive state: {{ full_path_to_archive }}"
      ansible.builtin.assert:
        that:
          - is_archive_file_created is defined and is_archive_file_created.stat is defined
          - is_archive_file_created.stat.exists
        quiet: true
        fail_msg: "Archive file does NOT exist: {{ full_path_to_archive }}"

    - name: "Read target directory information: {{ wildfly_install.home }}"
      ansible.builtin.stat:
        path: "{{ wildfly_install.home }}/bin"
      become: yes
      register: path_to_workdir

    - name: "Extract files from {{ full_path_to_archive }} into {{ wildfly_install.workdir }}."
      become: yes
      become_user: "{{ wildfly_install.user }}"
      ansible.builtin.unarchive:
        src: "{{ full_path_to_archive }}"
        dest: "{{ wildfly_install.workdir }}"
        owner: "{{ wildfly_install.user }}"
        group: "{{ wildfly_install.group }}"
        remote_src: yes
        creates: "{{ wildfly_install.home }}/bin"
      when:
        - new_version_downloaded.changed or not path_to_workdir.stat.exists

    - name: "Note: decompression was not executed"
      ansible.builtin.debug:
        msg: "{{ wildfly_install.home }} already exists and version unchanged, skipping decompression"
      when:
        - not new_version_downloaded.changed and path_to_workdir.stat.exists
  when:
    - not wildfly_install.rpm is defined

- name: "Read information on server home directory: {{ wildfly_install.home }}"
  ansible.builtin.stat:
    path: "{{ wildfly_install.home }}"
  become: yes
  register: is_wfly_home

- name: "Check state of server home directory: {{ wildfly_install.home }}"
  ansible.builtin.assert:
    that:
      - is_wfly_home is defined
      - is_wfly_home.stat is defined
      - is_wfly_home.stat.exists is defined
      - is_wfly_home.stat.exists
    quiet: true
    fail_msg: "Server home directory has not been created: {{ wildfly_install.home }}."

- name: Set instance name
  ansible.builtin.set_fact:
    instance_name: "{{ wildfly_instance_name | default('wildfly') }}"
  when:
    - instance_name is not defined

- name: "Deploy custom configuration"
  ansible.builtin.template:
    src: "{{ wildfly_install.config_custom }}"
    dest: "{{ wildfly_install.home }}/standalone/configuration/"
    group: "{{ wildfly_install.group }}"
    owner: "{{ wildfly_install.user }}"
    mode: 0640
  become: yes
  when: wildfly_install.config_custom | length > 0

- name: "Deploy configuration"
  ansible.builtin.copy:
    src: "{{ wildfly_install.home }}/standalone/configuration/{{ wildfly_install.config }}"
    dest: "{{ wildfly_install.home }}/standalone/configuration/{{ instance_name }}.xml"
    group: "{{ wildfly_install.group }}"
    owner: "{{ wildfly_install.user }}"
    mode: 0640
    remote_src: true
    force: false
  become: yes

- name: "Install EAP cumulative patch"
  when:
    - eap_apply_cp is defined and eap_apply_cp
    - eap_enable is defined and eap_enable
  block:
    - name: "Ensure required parameters for cumulative patch application are provided."
      ansible.builtin.assert:
        that:
          - eap_patch_version is defined
        quiet: "Missing required parameters for CP application"

    - name: "Apply latest cumulative patch"
      ansible.builtin.include_role:
        name: wildfly_utils
        tasks_from: apply_cp.yml

- name: "Install EAP elytron adapter"
  when:
    - eap_elytron_adapter is defined and eap_elytron_adapter
    - eap_enable is defined and eap_enable
  block:
    - name: "Ensure required parameters for elytron adapter are provided."
      ansible.builtin.assert:
        that:
          - eap_elytron_adapter_version is defined
        quiet: "Missing required parameters for elytron adapter"

    - name: "Install elytron adapter"
      ansible.builtin.include_role:
        name: wildfly_utils
        tasks_from: keycloak_adapter.yml
