---
- assert:
    that:
      - wildfly_install.download_url is defined
      - wildfly_install.home is defined
      - wildfly_install.archive_name is defined
      - wildfly_install.user is defined
      - wildfly_install.group is defined
    quiet: true

# full_path is download destination, local_path is local download location
- name: Check local download archive path
  stat:
    path: "{{ lookup('env', 'PWD') }}"
  register: local_path
  delegate_to: localhost

- set_fact:
    full_path_to_archive: "{{ wildfly_install.archive_dir }}/{{ wildfly_install.archive_name }}"
    local_path_to_archive: "{{ local_path.stat.path }}/{{ wildfly_install.archive_name }}"

#- assert:
#    that:
#      - not (wildfly_install.rhn_id is defined and wildfly_install.rpm is defined)
#    quiet: true
#    fail_msg: "Install can only be from RHN (ID: {{ wildfly_install.rhn_id }} or with RPM {{ wildfly_install.rpm }}, not both."

## check remote archive already present
- name: "Check target archive: {{ full_path_to_archive }}"
  stat:
    path: "{{ full_path_to_archive }}"
  register: archive_path

## download to controller locally
- include_tasks: install/wildfly.yml
  when:
    - not wildfly_jboss_eap_enable
    - not wildfly_install.rpm is defined
    - not wildfly_offline_install
    - archive_path.stat is defined
    - not archive_path.stat.exists

- include_tasks: install/rhn.yml
  vars:
    rhn_id_file: "{{ wildfly_install.rhn.id }}"
  when:
    - wildfly_jboss_eap_enable
    - not wildfly_offline_install
    - archive_path.stat is defined
    - not archive_path.stat.exists

- include_tasks: install/rpm.yml
  when:
    - wildfly_install.rpm is defined

- name: Check downloaded archive
  stat:
    path: "{{ local_path_to_archive }}"
  register: local_archive_path
  delegate_to: localhost

## copy and unpack
- name: Copy archive to target nodes
  copy:
    src: "{{ local_path_to_archive }}"
    dest: "{{ full_path_to_archive }}"
    owner: "{{ wildfly_install.user }}"
    group: "{{ wildfly_install.group }}"
    mode: 0640
  register: new_version_downloaded
  when:
    - not archive_path.stat.exists
    - local_archive_path.stat is defined
    - local_archive_path.stat.exists
  become: yes

- block:
    - name: "Check target archive: {{ full_path_to_archive }}"
      stat:
        path: "{{ full_path_to_archive }}"
      register: is_archive_file_created

    - name: "Check target directory: {{ wildfly_install.home }}"
      stat:
        path: "{{ wildfly_install.home }}"
      register: path_to_workdir

    - assert:
        that:
          - is_archive_file_created is defined and is_archive_file_created.stat is defined
          - is_archive_file_created.stat.exists
        quiet: true
        fail_msg: "Archive file does NOT exists: {{ full_path_to_archive }}"

    - name: "Extract Wildfly files from {{ full_path_to_archive }} into {{ wildfly_install.workdir }}."
      become: yes
      become_user: "{{ wildfly_install.user }}"
      unarchive:
        src: "{{ full_path_to_archive }}"
        dest: "{{ wildfly_install.workdir }}"
        owner: "{{ wildfly_install.user }}"
        group: "{{ wildfly_install.group }}"
        remote_src: yes
        creates: "{{ wildfly_install.home }}"
      when:
        - new_version_downloaded.changed or not path_to_workdir.stat.exists

    - name: Inform decompression was not executed
      debug:
        msg: "{{ wildfly_install.home }} already exists and version unchanged, skipping decompression"
      when:
        - not new_version_downloaded.changed and path_to_workdir.stat.exists
  when:
    - not wildfly_install.rpm is defined

- stat:
    path: "{{ wildfly_install.home }}"
  register: is_wfly_home

- assert:
    that:
      - is_wfly_home is defined
      - is_wfly_home.stat is defined
      - is_wfly_home.stat.exists is defined
      - is_wfly_home.stat.exists
    quiet: true
    fail_msg: "Wildfly home has not been created: {{ wildfly_install.home }}."
