---
- include_tasks: prereqs.yml

- include_tasks: user.yml

- name: "Ensures workdir {{ wildfly_install.workdir }} exists."
  file:
    path: "{{ wildfly_install.workdir }}"
    state: directory
    owner: "{{ wildfly_install.user }}"
    group: "{{ wildfly_install.group }}"

- include_tasks: install.yml

- stat:
    path: "{{ wildfly_install.home }}"
  register: is_wildfly_home

- assert:
    that:
      - is_wildfly_home is defined and is_wildfly_home.stat is defined and is_wildfly_home.stat.exists is defined
      - is_wildfly_home.stat.exists
    quiet: true
