---
- include_tasks: prereqs.yml

- include_tasks: user.yml

- name: "Ensure workdir {{ wildfly_install.workdir }} exists."
  file:
    path: "{{ wildfly_install.workdir }}"
    state: directory
    owner: "{{ wildfly_install.user }}"
    group: "{{ wildfly_install.group }}"
    mode: 0750

- name: "Ensures archive_dir {{ wildfly_install.archive_dir }} exists."
  file:
    path: "{{ wildfly_install.archive_dir }}"
    state: directory
    owner: "{{ wildfly_install.user }}"
    group: "{{ wildfly_install.group }}"

- include_tasks: install.yml

- name: Check wildfly install directory state
  stat:
    path: "{{ wildfly_install.home }}"
  register: is_wildfly_home

- name: Validate conditions
  assert:
    that:
      - is_wildfly_home is defined and is_wildfly_home.stat is defined and is_wildfly_home.stat.exists is defined
      - is_wildfly_home.stat.exists
    quiet: true
