---
- assert:
    that:
      - wildfly_install.user is defined
    quiet: true

- set_fact:
    group_name: "{{ wildfly_install.group | default(wildfly_install.user) }}"

- name: "Ensure group {{ group_name }} exists."
  group:
    name: "{{ group_name }}"

- name: "Ensure user {{ wildfly_install.user }} exists."
  user:
    name: "{{ wildfly_install.user }}"
    groups: "{{ group_name }}"
    state: present
