---
wildfly_user: 'wildfly'
wildfly_group: "{{ wildfly_user }}"
jdbc_driver_module_dir:
jdbc_driver_version: 9.4.1212
jdbc_driver_jar_filename: "postgresql-{{ jdbc_driver_version }}.jar"
jdbc_driver_jar_url: "https://repo.maven.apache.org/maven2/org/postgresql/postgresql/{{ jdbc_driver_version }}/postgresql-{{ jdbc_driver_version }}.jar"
jdbc_driver_jar_installation_path: "{{ jdbc_driver_module_dir }}/{{ jdbc_driver_jar_filename }}"
jdbc_driver_module_name: org.postgresql