---
- name: Check arguments
  ansible.builtin.assert:
    that:
      - wildfly_systemd is defined
      - wildfly_systemd.home is defined
      - wildfly_systemd.user is defined
      - wildfly_systemd.group is defined
    quiet: true

- name: "Ensure that version is correct for yaml config extension"
  ansible.builtin.include_tasks: yml_config_version_prereq.yml
  when: wildfly_enable_yml_config

- name: "Ensure required local user and group exists."
  ansible.builtin.include_role:
    name: wildfly_install
    tasks_from: user.yml

- name: "Ensure server configuration and systemd configuration are set"
  ansible.builtin.include_tasks: systemd.yml
  vars:
    basedir: "{{ wildfly_basedir_prefix | default(wildfly_systemd.home) }}/standalone"
