# {{ ansible_managed }}

[Unit]
Description=JBoss EAP (standalone mode)
After=syslog.target network.target
Before=httpd.service

[Service]
Environment=LAUNCH_JBOSS_IN_BACKGROUND=1
EnvironmentFile=-{{ service_systemd_env_file }}
User={{ wildfly_systemd.user }}
Group={{ wildfly_systemd.group }}
PIDFile={{ basedir }}/{{ instance_name }}.pid
ExecStart={{ wildfly_systemd.home }}/bin/standalone.sh -c $WILDFLY_SERVER_CONFIG -b $WILDFLY_BIND $WILDFLY_YAML $WILDFLY_OPTS

[Install]
WantedBy=multi-user.target
