# {{ ansible_managed }}

JAVA_HOME={{ wildfly_systemd_java_home  | default(wildfly_rpm_java_home, true) }}
JAVA_OPTS='{{ wildfly_java_opts }}'
WILDFLY_BIND={{ wildfly_bind_addr }}
WILDFLY_BIND_MGMT={{ wildfly_bind_addr_management }}
WILDFLY_HOME={{ wildfly_systemd.home }}
JBOSS_PIDFILE={{ wildfly_systemd.selinux.pid_path }}/{{ wildfly_instance_name }}.pid
WILDFLY_SERVER_CONFIG={{ wildfly_instance_name }}.xml

WILDFLY_OPTS=-Djboss.bind.address.private={{ wildfly_bind_addr_private }} \
 -Djboss.default.multicast.address={{ wildfly_multicast_addr }} \
 -Djboss.server.config.dir={{ basedir }}/configuration/ \
 -Djboss.server.base.dir={{ basedir }} \
 -Djboss.tx.node.id={{ wildfly_node_id }} \
 -Djboss.node.name={{ wildfly_instance_name }} \
 -Djboss.socket.binding.port-offset={{ wildfly_port_range_offset }} \
 -Dwildfly.statistics-enabled={{ wildfly_statistics_enabled | lower }}

WILDFLY_YAML={% if wildfly_enable_yml_config and wildfly_yml_configs | length > 0 %}{{ wildfly_yml_configs_str }}{% endif %}
