---
- name: Check installation
  ansible.builtin.assert:
    that:
      - eap_enable is defined and eap_enable
    quiet: true
    fail_msg: "Patching is only available on Red Hat EAP installations."

- name: Set patch directory
  ansible.builtin.set_fact:
    patches_repository: "{{ override_patches_repository | default('/opt') }}"

- name: Set download patch archive path
  ansible.builtin.set_fact:
    patch_archive: "{{ patches_repository }}/{{ eap_patch_archive_filename }}"
    patch_bundle: "{{ eap_patch_archive_filename }}"
    patch_version: "{{ eap_patch_version }}"
  when: eap_patch_version is defined

- name: Set patch destination directory
  ansible.builtin.set_fact:
    path_to_patch: "{{ patch_archive }}"

- name: Check download patch archive path
  ansible.builtin.stat:
    path: "{{ path_to_patch }}"
  register: patch_archive_path
  when: eap_patch_version is defined
  become: yes

- name: Check local download archive path
  ansible.builtin.stat:
    path: "{{ lookup('env', 'PWD') }}"
  register: local_path
  delegate_to: localhost

- name: "Check local downloaded archive: {{ patch_bundle }}"
  ansible.builtin.stat:
    path: "{{ local_path.stat.path }}/{{ patch_bundle }}"
  register: local_archive_path
  when: eap_patch_version is defined
  delegate_to: localhost

- name: Perform patch download from RHN via JBossNetwork API
  when:
    - eap_enable is defined and eap_enable
    - eap_apply_cp
    - not wildfly_offline_install
  block:
    - name: Retrieve product download using JBossNetwork API
      middleware_automation.common.product_search:
        client_id: "{{ rhn_username }}"
        client_secret: "{{ rhn_password }}"
        product_type: BUGFIX
        product_version: "{{ eap_version | regex_replace('([0-9]+)[.]([0-9]+)[.][0-9]+[.]?([A-Za-z]+)?', '\\1.\\2 \\3') }}"
        product_category: "{{ eap_product_category }}"
      register: rhn_products
      no_log: "{{ omit_rhn_output | default(true) }}"
      delegate_to: localhost
      run_once: yes

    - name: Determine patch versions list
      ansible.builtin.set_fact:
        filtered_versions: "{{ rhn_products.results | map(attribute='file_path') | select('match', '^[^/]*/jboss-eap-.*[0-9]*[.][0-9]*[.][0-9]*.*$') | map('regex_replace','[^/]*/jboss-eap-([0-9]*[.][0-9]*[.][0-9]*)-.*','\\1' ) | list | unique }}"
      when: eap_patch_version is not defined or eap_patch_version | length == 0
      delegate_to: localhost
      run_once: yes

    - name: Determine latest version
      ansible.builtin.set_fact:
         eap_latest_version: "{{ filtered_versions | middleware_automation.common.version_sort | last }}"
      when: eap_patch_version is not defined or eap_patch_version | length == 0
      delegate_to: localhost
      run_once: yes

    - name: Determine install zipfile from search results
      ansible.builtin.set_fact:
        rhn_filtered_products: "{{ rhn_products.results | selectattr('file_path', 'match', '[^/]*/jboss-eap-' + eap_latest_version + '-patch.zip$') }}"
        patch_bundle: "jboss-eap-{{ eap_latest_version }}-patch.zip"
        patch_version: "{{ eap_latest_version }}"
      when: eap_patch_version is not defined or eap_patch_version | length == 0
      delegate_to: localhost
      run_once: yes

    - name: "Determine selected patch from supplied version: {{ eap_patch_version }}"
      ansible.builtin.set_fact:
        rhn_filtered_products: "{{ rhn_products.results | selectattr('file_path', 'match', '[^/]*/' + eap_patch_archive_filename + '$') }}"
        patch_bundle: "{{ eap_patch_archive_filename }}"
        patch_version: "{{ eap_patch_version }}"
      when: eap_patch_version is defined
      delegate_to: localhost
      run_once: yes

    - name: "Check remote downloaded archive: {{ patches_repository }}/{{ patch_bundle }}"
      ansible.builtin.stat:
        path: "{{ patches_repository }}/{{ patch_bundle }}"
      register: remote_archive_path
      become: yes

    - name: Download Red Hat EAP patch
      middleware_automation.common.product_download: # noqa risky-file-permissions delegated, uses controller host user
        client_id: "{{ rhn_username }}"
        client_secret: "{{ rhn_password }}"
        product_id: "{{ (rhn_filtered_products | first).id }}"
        dest: "{{ local_path.stat.path }}/{{ patch_bundle }}"
      no_log: "{{ omit_rhn_output | default(true) }}"
      delegate_to: localhost
      run_once: yes
      when: 
        - remote_archive_path is defined
        - not remote_archive_path.stat.exists

- name: Set download patch archive path
  ansible.builtin.set_fact:
    patch_archive: "{{ path_to_patch }}"

- name: Check remote download patch archive path
  ansible.builtin.stat:
    path: "{{ patch_archive }}"
  register: patch_archive_path
  become: yes

- name: Copy patch archive to target nodes
  ansible.builtin.copy:
    src: "{{ local_path.stat.path }}/{{ patch_bundle }}"
    dest: "{{ path_to_patch }}"
    owner: "{{ wildfly_user }}"
    group: "{{ wildfly_group }}"
    mode: 0640
  register: new_version_downloaded
  when:
    - not patch_archive_path.stat.exists
  become: yes

- name: "Check patch state"
  ansible.builtin.stat:
    path: "{{ path_to_patch }}"
  register: patch_info
  become: yes

- name: "Set checksum file path for patch"
  ansible.builtin.set_fact:
    patch_checksum_file: "{{ wildfly_home }}/.applied_patch_checksum_{{ patch_info.stat.checksum }}.txt"
  when:
    - patch_info.stat is defined

- name: "Check {{ patch_checksum_file }} state"
  ansible.builtin.stat:
    path: "{{ patch_checksum_file }}"
  register: last_patch_status
  become: yes

- name: Print when patch has been applied already
  ansible.builtin.debug:
    msg: "Patch v{{ patch_version }} (checksum {{ patch_info.stat.checksum }}) has already been applied."
  when:
    - last_patch_status.stat.exists

- name: Perform patching
  when: not last_patch_status.stat.exists
  block:
    - name: "Check service status, start for patching if not running"
      block:
        - name: "Check if management interface is reachable"
          ansible.builtin.wait_for:
            host: "{{ jboss_cli_controller_host }}"
            port: "{{ jboss_cli_controller_port }}"
            timeout: 1
      rescue:
        - name: Set instance name
          ansible.builtin.set_fact:
            instance_name: "{{ wildfly_instance_name | default('wildfly') }}"
          when:
            - instance_name is not defined
        - name: "Deploy configuration"
          ansible.builtin.copy:
            src: "{{ wildfly_home }}/standalone/configuration/{{ wildfly_config_base }}"
            dest: "{{ wildfly_home }}/standalone/configuration/{{ instance_name }}.xml"
            group: "{{ wildfly_group }}"
            owner: "{{ wildfly_user }}"
            mode: 0640
            remote_src: true
            force: false
          become: yes
        - name: "Start wildfly for patching"
          ansible.builtin.command: "{{ wildfly_home }}/bin/standalone.sh -c {{ instance_name }}.xml -Djboss.server.config.dir={{ wildfly_home }}/standalone/configuration/ -Djboss.server.base.dir={{ wildfly_home }}/standalone"
          changed_when: True
          async: 180
          poll: 0
          register: apply_cp_process
          become: yes
          become_user: "{{ wildfly_user }}"
        - name: "Wait for management interface is reachable"
          ansible.builtin.wait_for:
            host: "{{ jboss_cli_controller_host }}"
            port: "{{ jboss_cli_controller_port }}"
            timeout: 60
            delay: 10
            sleep: 5

    - name: "Set apply CP conflict default strategy to default (if not defined): {{ jboss_cli_apply_cp_default_conflict_default }}"
      ansible.builtin.set_fact:
        apply_options: "{{ jboss_cli_apply_cp_default_conflict_default }}"
      when:
        - not apply_options is defined

    - name: "Apply patch {{ path_to_patch }} to server installed in {{ wildfly_home }}"
      ansible.builtin.include_tasks: jboss_cli.yml
      vars:
        jboss_home: "{{ wildfly_home }}"
        jboss_cli_query: "'patch apply {{ apply_options }} {{ path_to_patch }}'"
        jboss_cli_timeout: 30

    - name: "Display patching result"
      ansible.builtin.debug:
        msg: "Apply patch operation result: {{ cli_result.stdout | string }}"
      when:
        - eap_apply_cp_verbose is defined
        - cli_result is defined
        - cli_result.stdout is defined

    - name: Set checksum files
      block:
        - name: Set checksum file
          ansible.builtin.copy:
            dest: "{{ patch_checksum_file }}"
            content: "Patch v{{ patch_version }}"
            owner: "{{ wildfly_user }}"
            group: "{{ wildfly_group }}"
            mode: 0640
          when:
            - not last_patch_status.stat.exists
          become: yes

        - name: Set latest patch file
          ansible.builtin.copy:
            dest: "{{ wildfly_home }}/.latest_applied_patch.txt"
            content: "{{ patch_version }}"
            owner: "{{ wildfly_user }}"
            group: "{{ wildfly_group }}"
            mode: 0640
          when:
            - not last_patch_status.stat.exists
          become: yes

    - name: "Restart server to ensure patch content is running"
      ansible.builtin.include_tasks: jboss_cli.yml
      vars:
        jboss_home: "{{ wildfly_home }}"
        jboss_cli_query: "'shutdown --restart'"
        jboss_cli_timeout: 60
      when:
        - not wildfly_no_restart_after_patch
        - cli_result.rc == 0

    - name: "Wait for management interface is reachable"
      ansible.builtin.wait_for:
        host: "{{ jboss_cli_controller_host }}"
        port: "{{ jboss_cli_controller_port }}"
        timeout: 60
        delay: 10
        sleep: 5

    - name: "Stop service if it was started for patching"
      ansible.builtin.include_tasks: jboss_cli.yml
      vars:
        jboss_home: "{{ wildfly_home }}"
        jboss_cli_query: "'shutdown'"
        jboss_cli_timeout: 60
      when:
        - apply_cp_process is defined
        - not eap_no_restart_after_patch
        - cli_result.rc == 0

    - name: "Display resulting output"
      ansible.builtin.debug:
        msg: "{{ cli_result.stdout }}"
      when:
        - cli_result.stdout | length > 0

  rescue:
    - name: "Show resulting output"
      ansible.builtin.debug:
        msg: "{{ cli_result.stdout }}"
