---
- name: Ensure Wildfly is install and running as a service
  hosts: all
  vars:

    wildfly_version: '29.0.0.Final'
    wildfly_home: "/opt/wildfly/wildfly-{{ wildfly_version }}/"
    jdbc_driver_module_dir: "{{ wildfly_home }}/modules/{{ jdbc_driver_module_name | replace('.', '/') }}/main"
    jdbc_driver_version: 9.4.1212
    jdbc_driver_jar_filename: "postgresql-{{ jdbc_driver_version }}.jar"
    jdbc_driver_jar_url: "https://repo.maven.apache.org/maven2/org/postgresql/postgresql/{{ jdbc_driver_version }}/postgresql-{{ jdbc_driver_version }}.jar"
    jdbc_driver_jar_installation_path: "{{ jdbc_driver_module_dir }}/{{ jdbc_driver_jar_filename }}"
    jdbc_driver_module_name: org.postgresql
  collections:
    - middleware_automation.wildfly
    - middleware_automation.common
    - ansible.posix
  roles:
    - wildfly_install
    - wildfly_systemd
    - wildfly_driver
  tasks:
    - name: Install second driver with wildfly_driver role
      ansible.builtin.include_role:
        name: wildfly_driver
      vars:
        jdbc_driver_module_dir: "{{ wildfly_home }}/modules/org/mariadb/main"
        jdbc_driver_version: 2.7.4
        jdbc_driver_jar_filename: "mariadb-java-client-{{ jdbc_driver_version }}.jar"
        jdbc_driver_jar_url: "https://repo1.maven.org/maven2/org/mariadb/jdbc/mariadb-java-client/{{ jdbc_driver_version }}/mariadb-java-client-{{ jdbc_driver_version }}.jar"
        jdbc_driver_module_name: "org.mariadb"
